{% extends 'FlowcodeDashboardBundle:Default:layout.html.twig' %}

{% block body -%}
{{ include('FlowcodeShopBundle:AdminProductOrder:productOrderHeader.html.twig') }}

<section class="content">
    <div class="box box-solid">
        <div class="box-header">
            {#<h3 class="box-title">{{ entity.name|title }}</h3>#}
            <div class="box-tools">
                <a class="btn btn-link btn-sm" href="{{ path('admin_order') }}">
                    {{ "Back to the list"|trans }}
                </a>
                <a class="btn btn-link btn-sm" href="{{ path('admin_order_edit', { 'id': entity.id }) }}">
                    {{ "edit"|trans }}
                </a>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">Datos del producto</div>
                            <table class="record_properties table table-condensed">
                                <tbody>
                                    <tr>
                                        <th>{{ "Id"|trans }}</th>
                                        <td>{{ entity.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ "Total"|trans }}</th>
                                        <td>{{ entity.total }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ "Enabled"|trans }}</th>
                                        <td>{{ entity.enabled }}</td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
