{% extends 'FlowcodeDashboardBundle:Default:layout.html.twig' %}


{% block body %}
{{ include('FlowcodeShopBundle:AdminCategory:categoryHeader.html.twig') }}
<section class="content">

    <div class="box box-solid">
        <div class="box-header">
            {%if rootcategory.id is defined%}
                {% set rootCategoryId = rootcategory.id %}
            {% else %}
                {% set rootCategoryId = -1 %}
            {%endif%}
            <h3>{{ "product list"|trans|title }}</h3>
            <div class="box-tools">
                <a href="{{ path('admin_shop_category_children', { 'id': rootCategoryId }) }}" class="btn btn-link btn-sm">
                    <i class="fa fa-plus"></i> {{ "new"|trans|title }}
                </a>
            </div>
        </div>

        <div class="box-body">
<table class="records_list table table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>{{ "Name"|trans }}</th>
            <th>{{ "Actions"|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_shop_category_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('admin_shop_category_show', { 'id': entity.id }) }}">
                            {{ "Show"|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_shop_category_edit', { 'id': entity.id }) }}">{{ "Edit"|trans }}</a>
                    </li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
    </div>
</section>


{% endblock %}
