{% extends 'FlowcodeDashboardBundle:Default:layout.html.twig' %}

{% block body -%}
{{ include('FlowcodeShopBundle:AdminStrategy:strategyHeader.html.twig') }}
<section class="content">
    <div class="box box-solid">
        <div class="box-header">
            <h3 class="box-title">{{ "new"|trans|title }}</h3>
            <div class="box-tools">
                <a class="btn btn-link btn-sm" href="{{ path('admin_strategy') }}">
                    {{ "Back to the list"|trans }}
                </a>
            </div>
        </div>

        <div class="box-body">
        {{form(form)}}
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('select').select2();
    </script>

{% endblock %}
