{% extends 'FlowcodeDashboardBundle:Default:layout.html.twig' %}

{% block body -%}
{{ include('FlowcodeShopBundle:AdminOrderDeliveryOption:deliveriesHeader.html.twig') }}
<section class="content">
    <div class="col-sm-6">
    <div class="box box-solid">
        <div class="box-header">
            <h3>{{ "list"|trans|title }}</h3>
            <div class="box-tools">
                <a href="{{ path('admin_order_delivery_new') }}" class="btn btn-link btn-sm">
                    <i class="fa fa-plus"></i> {{ "new"|trans|title }}
                </a>
            </div>
        </div>

        <div class="box-body">
            <table class="records_list table table-condensed">
                <thead>
                    <tr>
                        <th>{{ "Name"|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('admin_order_delivery_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
</section>
{% endblock %}
