{% extends 'FlowcodeShopBundle::shop.html.twig' %}
{% block products %}
    {% if page %}
        <h1>{{ page.name }}</h1>

        <div>
            {{ page.description }}
        </div>
    {% endif %}

    <div class="row" style="margin-top: 200px;">
        <div class="col-sm-3" style="margin-top: 20px;">
            <a href="#">
                {#<img src="{{ asset( entity.getImage.getWebPath ) }}" alt=""/>#}
                <img class="img-responsive"
                     src="https://ugc.kn3.net/i/760x/http://www.diaadia.com.ar/files/nota_edicion_impresa/Cuarteto_MonaJimenez.jpg"
                     alt=""/>
            </a>
        </div>
        <div class="col-sm-9">
            <div class="product-information"><!--/product-information-->
                <h2>{{ product.name }}</h2>
                <p>Web ID: {{ product.id }}</p>
                <div>
                    <div>
                        {{ product.content|raw }}
                    </div>
                    <div>
                        <span>$ {{ product.price }}</span>
                    </div>
                    <label>{{ "quantity"|trans|title }}:</label>
                    <input id="actualCartQty" type="text" value="{{ productQtyOrder }}"/>
                    <a id="addToCart" href="{{ path('product_show', { 'slug':product.slug, 'prodQty': 'value' }) }}"
                       class="btn btn-default cart">
                        <i class="fa fa-shopping-cart"></i>
                        {{ "add"|trans|title }}
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
