{% extends 'FlowcodeShopBundle::shop.html.twig' %}
{% block products %}
    {% if page %}
        <h1>{{ page.name }}</h1>

        <div>
            {{ page.description }}
        </div>
    {% endif %}

    <div class="row cart" style="margin-top: 200px;">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-8">
                    <label>{{ "order"|trans|title }}:</label>
                </div>
                <div class="col-sm-2">
                    <label>{{ "price"|trans|title }}:</label>
                </div>
                <div class="col-sm-2">
                    <label>{{ "quantity"|trans|title }}:</label>
                </div>
            </div>
            {% for item in productOrder.items %}
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-sm-2">
                        <a href="#">
                            <img class="img-responsive" src="{{ asset( item.product.getImage.getWebPath ) }}" alt=""/>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="{{ path("product_show", {'slug':item.product.slug}) }}">
                            <h4>{{ item.product.name }}</h4>
                        </a>
                        <div>
                            <div>
                                {{ item.product.content|raw }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div>
                            <h4>$ {{ item.product.price }}</h4>
                        </div>
                    </div>
                    <div class="col-sm-2 form-group">
                        <input class="form-control actualCartQty{{ item.id }}" type="text" value="{{ item.quantity }}"/>
                        <div>
                            <a href="{{ path("order_item_update", { 'item': item.id, 'prodQty': 'value' }) }}"
                               class="btn btn-default btn-xs addToCart" id="{{ item.id }}">
                                <i class="fa fa-refresh"></i>
                                {{ "update"|trans|title }}
                            </a>
                        </div>
                        <div>
                            <a href="{{ path("order_item_remove", {'item':item.id}) }}" class="btn btn-default btn-xs">
                                <i class="fa fa-times"></i>
                                {{ "eliminate"|trans|title }}
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                Order total: $ {{ productOrder.total }}
            </div>
            <div class="row">
                <a href="{{ path("product") }}" class="btn btn-default">
                    <i class="fa fa-cart-plus fa-lg"></i>
                    {{ "more products"|trans|title }}
                </a>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-shopping-basket fa-lg"></i>
                    {{ "finish"|trans|title }}
                </button>
            </div>
        </div>
    </div>

    <!-- Checkout Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Su pedido!</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h4>{{ "product"|trans|title }}</h4>
                        </div>
                        <div class="col-sm-3">
                            <h4>{{ "price per unit"|trans|title }}</h4>
                        </div>
                        <div class="col-sm-3">
                            <h4>{{ "quantity"|trans|title }}</h4>
                        </div>
                        <div class="col-sm-3">
                            <h4>{{ "subtotal"|trans|title }}</h4>
                        </div>
                    </div>
                    {% for item in productOrder.items %}
                        <div class="row">
                            <div class="col-sm-3">
                                <h4>{{ item.product.name }}</h4>
                            </div>
                            <div class="col-sm-3">
                                <h4>$ {{ item.product.price }}</h4>
                            </div>
                            <div class="col-sm-3">
                                <h4>{{ item.quantity }}</h4>
                            </div>
                            <div class="col-sm-3">
                                <h4>$ {{ item.product.price|number_format * item.quantity|number_format }}</h4>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <h3>
                                Su Total: $
                                {% if productOrder.totalDiscount %}
                                    {{ productOrder.total - productOrder.totalDiscount }}
                                {% else %}
                                    {{ productOrder.total }}
                                {% endif %}
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="{{ path("order_checkout", {'id':productOrder.id}) }}" class="btn btn-default">
                        <i class="fa fa-shopping-basket fa-lg"></i>
                        Confirmar pedido
                    </a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(".addToCart").click(function (e) {
            debugger
            var elem = '.actualCartQty' + e.currentTarget.id;
            var val = $(elem).val();
            val = "prodQty=" + val;
            var str = $("#" + e.currentTarget.id).attr('href');
            var res = str.replace("prodQty=value", val);
            $("#" + e.currentTarget.id).attr('href', res);
        });
    </script>
{% endblock %}
