{% extends 'FlowcodeShopBundle::shop.html.twig' %}
{% block products %}
    {% if page %}
        <h1>{{ page.name }}</h1>

        <div>
            {{ page.description }}
        </div>
    {% endif %}

    <div class="row cart" style="margin-top: 200px;">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-8">
                    <label>{{ "order"|trans|title }}:</label>
                </div>
                <div class="col-sm-2">
                    <label>{{ "price"|trans|title }}:</label>
                </div>
                <div class="col-sm-2">
                    <label>{{ "quantity"|trans|title }}:</label>
                </div>
            </div>
            {% for item in productOrder.items %}
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-sm-2">
                        <a href="#">
                            {#<img src="{{ asset( entity.getImage.getWebPath ) }}" alt=""/>#}
                            <img class="img-responsive"
                                 src="http://cfxtras.com/wp-content/uploads/2016/03/el-vino-tinto-sirve-para-la-acidez-que-bebidas-son-buenas-para-la-acidez.jpg"
                                 alt=""/>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="{{ path("product_show", {'slug':item.product.slug}) }}">
                            <h4>{{ item.product.name }}</h4>
                        </a>
                        <div>
                            <div>
                                {{ item.product.content|raw }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div>
                            <h4>$ {{ item.product.price }}</h4>
                        </div>
                    </div>
                    <div class="col-sm-2 form-group">
                        <input class="form-control actualCartQty{{ item.id }}" type="text" value="{{ item.quantity }}"/>
                        <div>
                            <a href="{{ path("order_item_update", { 'item': item.id, 'prodQty': 'value' }) }}"
                               class="btn btn-default btn-xs addToCart" id="{{ item.id }}">
                                <i class="fa fa-refresh"></i>
                                {{ "update"|trans|title }}
                            </a>
                        </div>
                        <div>
                            <a href="{{ path("order_item_remove", {'item':item.id}) }}" class="btn btn-default btn-xs">
                                <i class="fa fa-times"></i>
                                {{ "eliminate"|trans|title }}
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                Order total: $ {{ productOrder.total }}
            </div>
            <div class="row">
                <a href="{{ path("product") }}" class="btn btn-default">
                    <i class="fa fa-cart-plus fa-lg"></i>
                    {{ "product"|trans|title }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(".addToCart").click(function (e) {
            debugger
            var elem = '.actualCartQty'+e.currentTarget.id;
            var val = $(elem).val();
            val = "prodQty=" + val;
            var str = $("#"+e.currentTarget.id).attr('href');
            var res = str.replace("prodQty=value", val);
            $("#"+e.currentTarget.id).attr('href', res);
        });
    </script>
{% endblock %}
