{% extends 'FlowcodeDashboardBundle:Default:layout.html.twig' %}

{% block title %}{{ '%entity% list'|trans({'%entity%': 'Warehouse'}, 'Warehouse') }} - {{ parent() }}{% endblock %}
{% macro thead(name, field, label) %}
    {% spaceless %}
        {% set sort = app.session.get('sort.' ~ name) %}
        {% if sort and sort.field == field %}
            {% if sort.type == 'DESC' %}
                <a href="{{ path('admin_warehouse_sort', {field: field, type: 'ASC'}) }}">{{ label | trans({},'Warehouse') }}
                    <i class="fa fa-sort-down"></i></a>
            {% elseif sort.type == 'ASC' %}
                <a href="{{ path('admin_warehouse_sort', {field: field, type: 'DESC'}) }}">{{ label | trans({},'Warehouse') }}
                    <i class="fa fa-sort-up"></i></a>
            {% endif %}
        {% else %}
            <a href="{{ path('admin_warehouse_sort', {field: field, type: 'ASC'}) }}">{{ label | trans({},'Warehouse') }}
                <i
                        class="fa fa-sort"></i></a>
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% from _self import thead %}

{% block body %}
    <section class="content-header">
        <h1>
            {{ 'Transacciones'|trans({'%entity%': 'Warehouse'}, 'Warehouse') }}
        </h1>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
            </div>
            <div class="box-body">
                <div>
                    {{ form_start(form_filter,{'attr':{'class':'form-inline'}}) }}
                    {{ form_widget(form_filter.type) }}
                    {{ form_widget(form_filter.product) }}
                    {{ form_widget(form_filter.warehouse) }}
                    {{ form_widget(form_filter.submit) }}
                    {{ form_end(form_filter) }}
                </div>

                <table class="table table-hover record_properties">
                    <thead>
                    <th>{{ 'date'|trans({}, 'Product')|title }}</th>
                    <th>{{ 'Warehouse'|trans({}, 'Product') }}</th>
                    <th>{{ 'type'|trans({}, 'Product')|title }}</th>
                    <th>{{ 'cause'|trans({}, 'Product')|title }}</th>
                    <th>{{ 'product'|trans({}, 'Product')|title }}</th>
                    <th>{{ 'amount'|trans({}, 'Product')|title }}</th>
                    <th>{{ 'balance'|trans({}, 'Product')|title }}</th>
                    <th>{{ 'comments'|trans({}, 'Product')|title }}</th>
                    </thead>
                    <tbody>
                    {% for changeLog in paginator %}
                        <tr>
                            <td>{{ changeLog.date|date }}</td>
                            <td>{{ changeLog.warehouse }}</td>
                            <td>
                                {% if changeLog.type == 0 %}
                                    <span class="text-green">{{ 'stock_entry'|trans({}, 'Product')|title }}</span>
                                {% else %}
                                    <span class="text-warning">{{ 'stock_exit'|trans({}, 'Product')|title }}</span>
                                {% endif %}
                            </td>

                            {% if changeLog.productOrder and changeLog.type == 1 %}
                                <td>{{ 'ProductOrder'|trans({}, 'ProductOrder') }}: {{ changeLog.productOrder.id }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}

                            <td>{{ changeLog.product }}</td>
                            <td>{{ changeLog.amount }}</td>
                            <td>{{ changeLog.balance }}</td>
                            <td>{{ changeLog.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ knp_pagination_render(paginator) }}
            </div>
            <div class="box-footer">

            </div>

    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
{% endblock %}
