{% extends 'FlowcodeDashboardBundle:Default:layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset("assets/jquery-ui/themes/pepper-grinder/jquery-ui.min.css")}}" rel="stylesheet" type="text/css">
<link href="{{ asset("assets/elfinder/dist/css/elfinder.min.css")}}" rel="stylesheet" type="text/css">
<link href="{{ asset("assets/elfinder/dist/css/theme.css")}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
{{ include('FlowcodeMediaBundle:AdminMedia:mediaHeader.html.twig') }}
<section class="content">
    <div class="box box-solid">
        <div class="box-header">
            <h3 class="box-title">{{ type|trans|title }}</h3>
            <div class="box-tools">
                <a class="btn btn-link btn-sm" href="{{ path('admin_product_show', { 'id' : product.id}) }}">
                    {{ "Back to the list"|trans }}
                </a>
            </div>
        </div>

		<div class="box-body">
            {{ form_start(form) }}

            {{ form_row(form.name) }}

            <div class="form-group">
                {{ form_label(form.path) }}
                <div class="col-lg-5">
                    {{ form_widget(form.path) }}
                    {{ form_errors(form.path) }}
                </div>
                {% if type == "type_file" %}
                    <div class="col-lg-4">
                        <button class="btn btn-default" type="button" id="browser-trigger">
                            <i class="fa fa-search" ></i>
                            {{"file"|trans|title}}
                        </button>
                    </div>
                {% endif %}
            </div>

            {{ form_end(form) }}

        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset("assets/jquery-ui/jquery-ui.min.js") }}" ></script>
<script src="{{ asset("assets/elfinder/dist/js/elfinder.min.js") }}" ></script>
<script src="{{ asset("assets/elfinder/dist/js/i18n/elfinder.es.js") }}" ></script>
<script type="text/javascript">
$('#browser-trigger').click(function() {
    $('<div id="editor" />').dialogelfinder({
        url : '{{ path('ef_connect') }}',
        getFileCallback: function(file) {
            $("#flowcode_mediabundle_media_path").val(file.path);
            $('#editor').dialogelfinder('close');
        }
    });
});

</script>

{% endblock %}