{% extends 'FlowcodeDashboardBundle:Default:layout.html.twig' %}

{% block body -%}
{{ include('FlowcodeShopBundle:AdminProduct:productsHeader.html.twig') }}

<section class="content">
    <div class="box box-solid">
        <div class="box-header">
            <h3 class="box-title">{{ entity.name|title }}</h3>
            <div class="box-tools">
                <a class="btn btn-link btn-sm" href="{{ path('admin_product') }}">
                    {{ "Back to the list"|trans }}
                </a>
                <a class="btn btn-link btn-sm" href="{{ path('admin_product_edit', { 'id': entity.id }) }}">
                    {{ "edit"|trans }}
                </a>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">Datos del producto</div>
                        <table class="table table-condensed">
                            <tbody>
                                <tr>
                                    <th>{{ "Id"|trans }}</th>
                                    <td>{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <th>{{ "Name"|trans }}</th>
                                    <td>{{ entity.name }}</td>
                                </tr>
                                <tr>
                                    <th>{{ "Description"|trans }}</th>
                                    <td>{{ entity.description }}</td>
                                </tr>
                                <tr>
                                    <th>{{ "Content"|trans }}</th>
                                    <td>{{ entity.content|raw }}</td>
                                </tr>
                                <tr>
                                    <th>{{ "Category"|trans }}</th>
                                    <td>{{ entity.category }}</td>
                                </tr>
                                <tr>
                                    <th>{{ "Price"|trans }}</th>
                                    <td>{{ entity.price }}</td>
                                </tr>
                                <tr>
                                    <th>{{ "Enabled"|trans }}</th>
                                    <td>
                                        {% if entity.enabled %}
                                            {{'yes'|trans}}
                                        {% else %}
                                            {{'no'|trans}}
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="{{ path('admin_gallery_items', { 'id': entity.id, 'gallery_id': entity.getMediaGallery.id }) }}" class="btn btn-info">Editar galeria</a>
                    <div class="well">
                        <div class="row">
                            {% for galleryItem in entity.getMediaGallery.getGalleryItems %}
                            <div class="col-sm-3">
                                <a class="thumbnail">
                                    <img src="{{ asset(galleryItem.media.getWebPath) }}" alt="{{ galleryItem.media.name }}" class="img-responsive">
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <img src="{{ asset(entity.getImage.getWebPath) }}" alt="{{ entity.getImage.name }}" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
